.slider {
  -webkit-appearance: none;
  width: 25%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

canvas {
  border: 1px dotted red;
}

.chart-container {
  position: sticky;
  margin: auto;
  width: 60vw;
}

td.fondvert {
  background-color: green ;
  color: white ;
}

td.fondrouge {
  background-color: red ;
  color: white ;
}

#tableau {
  position: sticky;
  width: 60vw;
  margin: auto;
}

h3{
  position: sticky;
  width: 60vw;
  margin: auto;
  padding-top: 5%;
}